<header class="[ site-head ]" data-sve-chrome="header" data-sve-chrome-label="Header">
    <div class=" ">
        {{ site_head.blocks }}
            {{ if type == 'topbar' }}
                <div class="[ topbar ] bg-tertiary h-400" {{ visual_edit outline_inside="true" }}>

                </div>
                {{ elseif type == 'main_header' }}
                {{ if live_preview }} <div {{ visual_edit outline_inside="true" }}>{{ /if }}
                <div class="[ main-header ] absolute z-50 w-full text-primary-50 bg-linear-180 from-secondary/90 via-secondary/70 to-secondary/0 after:absolute after:bottom-0 after:w-full after:h-px after:bg-tertiary-50/10" >
                    <div class="wrapper flex items-center gap-500 py-500">
                        {{ widgets }}
                            {{ partial src="widgets/{type}" }}
                        {{ /widgets }}
                        <a class="btn border border-tertiary-50 rounded-md py-[.8em] bg-tertiary-950/5 backdrop-blur-md" href="">Online booking</a>
                    </div>
                {{ if live_preview }}</div>{{ /if }}
                </div>
            {{ endif }}
        {{ /site_head.blocks }}
    </div>
</header>

{{ style_push }}
    <style>
        @scope(.site-head){
            :scope{
                
            }

            .main-header{

            }


        }
    </style>
{{ /style_push }}