<section class="wrapper py-1000 space-y-gutter">
    {{ partial:components/section_heading }}
    <ul class="auto-grid auto-grid-lg gap-gutter">
        {{ collection from="events" }}
            <li class="relative">
                <div>
                    <img src="das" alt="">
                    {{ partial:components/image :imagePath="featured_media" }}
                </div>
                <h3>
                    <a href="{{ url }}">
                        {{ if main_content }}{{ if main_content | bard_html | contains:h1 }}{{ main_content | raw | bard_items | where:type:heading | first | bard_text }}{{ endif }}{{ else }}{{ title }}{{ endif }}
                    </a>
                </h3>
            </li>
        {{ /collection }}
    </ul>
</section>