<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ if environment != 'production' }}
            <meta name="robots" content="noindex, nofollow">
        {{ /if }}
        {{ partial:meta_info }}
        {{ vite src="resources/css/site.css" }}
        {{ theme_tokens }}
        {{ yield_minified }}
        <script type="speculationrules">
            {
                "prerender": [{
                "where": {
                    "and": [
                    { "href_matches": "/*" },
                    { "not": {"href_matches": "/logout"}}
                    ]
                },
                "eagerness": "moderate"
                }]
            }
        </script>
    </head>
    <body class="">
        {{ partial:site_head }}
        <main class="">
            {{ template_content }}
        </main>
        {{ partial:site_foot }}
        {{ vite src="resources/js/site.js" }}
        {{ yield_scripts }}

    </body>
</html>
