<ul class="flex space-x-2 flow-space-500 ">
    {{ site_settings:socialmedia_links }}
        <li>
            <a class="size-750 md:size-600 grid place-items-center transition-colors {{ dark == 'true' ? 'bg-contrast-light/10' : 'bg-gray-900/6' }} hover:bg-primary hover:text-contrast-light hover:border-primary" target="_blank" href="{{ prefix }}{{ handle }}" aria-label="{{ handle }}">
                {{ svg src="socialmedia/{type}" class="h-1/2" }}
            </a>
        </li>
    {{ /site_settings:socialmedia_links }}
</ul>