{{# Columns: contact/brand · navigation · form #}}
<div class="[ site-foot ] wrapper grid gap-gutter py-900 md:grid-cols-3">
    <div class="space-y-400">
        {{ site_foot.footer_widgets }}
            {{ if type == 'contact_info' }}
                {{ partial src="widgets/{type}" }}
            {{ /if }}
        {{ /site_foot.footer_widgets }}
    </div>

    <div class="space-y-400">
        {{ site_foot.footer_widgets }}
            {{ if type == 'navigation' }}
                {{ partial:widgets/footer_navigation }}
            {{ /if }}
        {{ /site_foot.footer_widgets }}
    </div>

    <div class="space-y-400">
        {{ site_foot.footer_widgets }}
            {{ if type == 'form' }}
                {{ partial src="widgets/{type}" }}
            {{ /if }}
        {{ /site_foot.footer_widgets }}
    </div>
</div>
