{{# Classic: widgets in one horizontal row (logo · nav · CTA) #}}
<div class=" " {{ visual_edit outline_inside="true" }}>
    <div class="bg-tertiary h-400">

    </div>
    <div class="absolute z-50 w-full text-primary-50 bg-linear-180 from-secondary/90 via-secondary/70 to-secondary/0 after:absolute after:bottom-0 after:w-full after:h-px after:bg-tertiary-50/10">
        <div class="wrapper flex items-center gap-500 py-500">
            {{ partial:header/widgets label="Classic" }}
            <a class="btn border border-tertiary-50 rounded-md py-[.8em] bg-tertiary-950/5 backdrop-blur-md" href="">Online booking</a>
        </div>
    </div>
</div>