{{# sve-unlocked #}}
<section id="id-{{ id }}" class="wrapper" {{ visual_edit outline_inside="true" section_orderable="true" }}>
  {{ if headline }}
<h2 class="mb-5" >{{ headline }}</h2>
{{ /if }}

  <p>fsdfdsfgfdgdfg</p>
<ul>dsfsdf</ul>
  
  <ul class="grid gap-500 grid-cols-4 max-lg:grid-cols-3 max-md:grid-cols-1">

  {{ collection from="employees" }}
    {{ partial:components/employee_card :props_headline="title" :props_text="job_title" :props_image="image" }}
  {{ /collection }}
</ul>

  <div class="bg-primary-100 text-350">
    <h2 class="text-650">hfghj</h2></div>
</section>

{{ sve_tw }}
