{{# sve-unlocked #}}
<section id="id-{{ id }}" class="wrapper" {{ visual_edit outline_inside="true" section_orderable="true" }}>
  <h2 class="mb-5" >{{ headline }}
{{ if true }}

{{ /if }}
</h2>
  <div class="bg-gray-200">
    <p class="text-400">dfsfdsfs</p>
  </div>
  <ul class="grid gap-500 grid-cols-4 max-lg:grid-cols-3 max-md:grid-cols-1">

  {{ collection from="employees" }}
    {{ partial:components/employee_card :props_headline="title" :props_text="job_title" :props_image="image" }}
  {{ /collection }}
</ul>

  <div class="bg-primary-100">
    <h2>hfghj</h2></div>
</section>

{{ sve_tw }}
